/* .App {
    font-family: sans-serif;
    text-align: center;
    height: 50%;
  }
  
  
  #five_day_table span {
    display: block;
    margin: 1px 3px 0px 0px;
  }
  span:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .one:before {
    background: #0000FF;
  }
  .two:before {
    background:	#0000FF;
  }
  .three:before {
    background:	#0000FF;
  } */
  